<% layout('/layouts/boilerplate') -%>


    <style>
        body{
            background-color: #D9C4B0;
        }
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter {

            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
            margin-left: 5rem;
            display: flex;
            align-items: center;
        }
         @media (max-width: 987px) {
        #filters {
            display: none;
        }
    }

    .card{
        border: 3px solid none !important;
        border-radius: 20px 20px 20px 20px !important;
        background-color: #FAF7F3 !important;
    }

    .card-img-top{
        border-radius: 20px 20px 0px 0px !important;
        padding-bottom: 10px;
    }

    .card-text{
        
        padding-bottom: 10px;
        padding-left: 10%;
    }

    </style>



    <!-- <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing </p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tent"></i></div>
            <p>Camping </p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>Boats</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Dome</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Default switch checkbox input</label>
            </div>
        </div>
    </div> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="listings/<%=listing._id%>" class="listing-link">

                <div class="card cols listing-card">
                    <img src="<%= listing.image?.url || 'https://plus.unsplash.com/premium_photo-1686090449192-4ab1d00cb735?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' %>"
                        class="card-img-top" alt="listing_image" style="height: 20rem;">

                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b style="font-size: large;">
                                <%= listing.title %> <br>
                            </b>
                            <b>₹</b> <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / <b>day</b>
                                <i class="tax-info"> &nbsp;&nbsp; +18% taxes</i>
                                <span style="padding: 20%;"></span>
                                <i class="fa-solid fa-gauge"></i>
                                <%= listing.mileage%> <b>kmpl</b>
                        </p>
                    </div>
                </div>
            </a>

            <% } %>
    </div>

    <script>

        let taxSwitch = document.getElementById('switchCheckDefault');
        if (taxSwitch) {
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info")
                for (info of taxInfo) {
                    if (info.style.display != "inline") {
                        info.style.display = "inline";
                    } else {
                        info.style.display = "none";
                    }
                }
            }

            );
        }

    </script>